/* Flowers and Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&family=Lato&display=swap');
@import "resetter.css";

*{ 
 box-sizing: border-box;
}

html {
    /* change value of rem */
    font-size: 10px; 
}
h1 {
    font-family: 'Send Flowers', sans-serif;
    font-size: 5rem;
}
body {
        font-family:  'Lato', sans-serif;
        overflow-x: hidden;
        background-color: #333;
        color: #222 ;
        font-size: 2rem;
}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding:5rem;
}

.container.show-nav {
    transform: rotate(-20deg);
}


.circle-container {
    position: fixed;
    top: -10rem;
    left:-10rem;
}

.circle {
    background-color: #ff7979;
    height:20rem;
    width:20rem;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;

}

.circle button{
    cursor: pointer;
    color: aqua;
    position: absolute;
    top: 50%;
    left:50%;
    height: 10rem;
    background: transparent;
    border:0;
    font-size: 2.6rem;
    color: #fff;
}

.circle button:focus {
    outline:none;
}
.circle button#open{
    left:60%;
}


.circle button#close{
    top:60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.content img{
    max-width: 100%;
}