/* Flowers and Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Send+Flowers&display=swap');
@import "resetter.css";

*{ 
 box-sizing: border-box;
}

html {
    /* change value of rem */
    font-size: 10px; 
}
h1 {
    font-family: 'Send Flowers', sans-serif;
    font-size: 10rem;
}
body {
        background-color: #686de0;
        font-family:  'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height : 100vh;
        overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 1),0 0.6rem 0.6rem rgba(0, 0, 0, 1);
    text-align: center;
    max-width: 100%;
    width: 80rem;
    height: 50vh;
}

h3{
    margin: 4% 0%;
    opacity: 0.5;
    letter-spacing: 0.2rem;
    font-size: 4rem;
}

.joke{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    line-height: 4rem;
    margin: 5rem auto;
    max-width: 60rem;
}

.btn{
    background-color: #9f68E0;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 1),0 0.6rem 0.6rem rgba(0, 0, 0, 1);
    padding: 1.4rem 2rem;
    font-size: 1.6rem;
    cursor: pointer;
    width: max-content;
}

.btn:active {
    transform: scale(0.9);
}

.btn:focus{
    outline: 0;
}