/* Flowers and Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Send+Flowers&display=swap');
@import "resetter.css";

*{ 
 box-sizing: border-box;
}

html {
    /* change value of rem */
    font-size: 10px; 
}
h1 {
    font-family: 'Send Flowers', sans-serif;
    font-size: 5rem;
    text-align: center;
    margin: 6rem auto;
}
body {
    background-color: #f0f0f0;
    font-family:  'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    height : 100vh;
    overflow: hidden;
}

.faq-container {
    max-width: 60rem;
    margin: 0 auto;
}

.faq {
    background-color: transparent;
    border: 1px solid #9fa4a8;
    border-radius: 1rem;
    margin: 2rem 0;
    padding: 3rem;
    position: relative;
    overflow: hidden;
    transition: 0.3 ease;
}

.faq.active {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1),0 3px 6px rgba(0,0,0,0.1); 
}

.faq.active::before,
.faq.active::after{
    content: '\f086';
    font-family: "Font Awesome 5 Free"; 
    color:#2eccfe;
    font-size: 9rem;
    position: absolute;
    opacity: 0.3;
    top: 2rem;
    left: 2rem;
    z-index: 0;
}

.faq.active::before{
    color: #1bd48d;
    top: 2rem;
    right: 2rem;
    transform : rotateY(180deg)
}

.faq-title{
    margin: 0 3.5rem 0 0;
}

.faq-text{
    display: none;
    margin: 3rem 0 0;
}

.faq.active .faq-text{
    display: block;
}