/* Flowers and Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import "resetter.css";

:root{
    --body-bg-color : #132037;
    --text-color: #C9E2C7;
}


*{ 
 box-sizing: border-box;
}

html {
    /* change value of rem */
    font-size: 10px; 
}
h1 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 5rem;
}
body {
    background-color: var(--body-bg-color);
    color: var(--text-color);
    font-family:  'Roboto Mono', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height : 100vh;
    overflow: hidden;
}


.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1% 2%;
}

.counter{
    font-size: 4vmin;
    margin-top: 0.5vmin;
}

@media(max-width:50rem){
    body{
        flex-direction: column;
    }
}